<app-header></app-header>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- {{helloService}} -->
  <ion-list>
    <ion-item>
      <ion-label>Logout </ion-label>
      <ion-label>
        <ion-button shape="round" color="danger" fill="outline" (click)="onLogout()">Log Out</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<app-footer></app-footer>