<app-header></app-header>
<!-- <ion-header no-border>

  <ion-grid no-padding>
    <ion-row>
      <ion-col>
        <ion-button class="clear" size="small" fill="clear" align-center>
          <ion-icon name="call"></ion-icon>
          <ion-badge color="danger">11</ion-badge>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="noticon" size="small" fill="clear" align-center>
          <ion-icon name="chatbubbles"></ion-icon>
          <ion-badge color="danger">66</ion-badge>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="noticon" size="small" fill="clear" align-center>
          <ion-icon name="musical-notes"></ion-icon>
          <ion-badge color="danger">55</ion-badge>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-searchbar no-padding color="primary">

      </ion-searchbar>
    </ion-row>
  </ion-grid>
</ion-header> -->
<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="top">
      <ion-tab-button tab="tab1">
        <ion-label>Male</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab2">
        <ion-label>Female</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab3">
        <ion-label>Either</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>
</ion-content>
<app-footer></app-footer>
<!-- <ion-footer>
  <ion-grid fill="primary" style="background: #3171e0;" no-padding no-margin>
    <ion-row>
      <ion-col>
        <ion-button class="clear" size="small" fill="clear">
          <ion-icon name="contact"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="clear" size="small" fill="clear">
          <ion-icon name="compass"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="clear" size="small" fill="clear">
          <ion-icon src="../../assets/icon/cir-sine-icon.svg"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)='logout()' class="clear" size="small" fill="clear">
          <ion-icon name="settings"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer> -->